@charset "UTF-8";
/*
Theme Name: Balance Custom theme
Theme URI: #
Author: Qloud.io
Author URI: http://Qloud.io/
Description: Custom framework
Version: 1.0
*/

/*Customized edit link*/
.frontend-edit-link-wrapper {
  background-color:#23282d;
  position:fixed;
  z-index:9999;
  right:0px;
  top:120px;
  width:40px;
  height:40px;
  color:#eee;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}

.frontend-edit-link-wrapper a {
  height:40px;
  display:block;
  text-align:center;
  line-height:40px;
  width:30px;
  margin-left:5px;
  color:#eee;
  opacity:0.8;
  border-bottom:solid 1px #111;
}

.frontend-edit-link-wrapper a:hover {
  color: #00b9eb;
}
/*END Customized edit link*/

/*newbanner css start*/
.newbanner{
 
  background: linear-gradient(rgba(237 155 51 / 28%), rgba(68 108 104 / 51%));


}
/*newbanner css end*/
/*header line start*/
  .headerline{
    background: linear-gradient(rgb(107 217 222), rgb(68 108 104 / 98%)),url(https://www.balancepro.org/wp-content/themes/balance-theme/images/img01.png);
  }
/*header line end*/

/*index page button css start*/
.but {
  color:#005d5b !important;
  
    transition: all 10ms ease-in-out;
    }
  .but:hover {
    color:#005d5b !important;
  
  
    box-shadow: 0 0 10px 4px #f0aa53 inset, 0 0 10px 4px #6bd9de;
  }

/*index page button css end*/

/*index page finacial and service section*/
 .paralign{
  text-align: justify;
 }
/*end*/

/*background hover color end*/

/*background hover color*/


/*hr line for title*/
hr.center-diamond {
  background: #39D1B4;
}
hr.center-diamond:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #39D1B4;
  display: inline-block;
  border: 2px solid #39D1B4;
  position: absolute;
  top: -5px;
  left: 50%;
  margin: 0 0 0 -3px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Opera, Chrome, and Safari */
}
/*hr line title css end*/

/*img left right css*/



/*end left right css here*/


.btn-warning, .gform_wrapper .form-wrap .gform_footer button.gform_button, .gform_wrapper .form-wrap .gform_footer button.gform_next_button, .gform_wrapper .form-wrap .gform_footer input.gform_button, .gform_wrapper .form-wrap .gform_footer input.gform_next_button, .gform_wrapper .form-wrap .gform_page_footer button.gform_button, .gform_wrapper .form-wrap .gform_page_footer button.gform_next_button, .gform_wrapper .form-wrap .gform_page_footer input.gform_button, .gform_wrapper .form-wrap .gform_page_footer input.gform_next_button, .woocommerce-info a.button, .woocommerce-message a.button, .woocommerce.page-product .product .single_add_to_cart_button {
        color: #446c68 !important;
    background-color: #ffffff !important;
    border-color: #446c68 !important;
     transition: all 10ms ease-in-out !important;
}

.btn-warning:active, .btn-warning:focus, .btn-warning:hover, .gform_wrapper .form-wrap .gform_footer button.gform_button:active, .gform_wrapper .form-wrap .gform_footer button.gform_button:focus, .gform_wrapper .form-wrap .gform_footer button.gform_button:hover, .gform_wrapper .form-wrap .gform_footer button.gform_next_button:active, .gform_wrapper .form-wrap .gform_footer button.gform_next_button:focus, .gform_wrapper .form-wrap .gform_footer button.gform_next_button:hover, .gform_wrapper .form-wrap .gform_footer input.gform_button:active, .gform_wrapper .form-wrap .gform_footer input.gform_button:focus, .gform_wrapper .form-wrap .gform_footer input.gform_button:hover, .gform_wrapper .form-wrap .gform_footer input.gform_next_button:active, .gform_wrapper .form-wrap .gform_footer input.gform_next_button:focus, .gform_wrapper .form-wrap .gform_footer input.gform_next_button:hover, .gform_wrapper .form-wrap .gform_page_footer button.gform_button:active, .gform_wrapper .form-wrap .gform_page_footer button.gform_button:focus, .gform_wrapper .form-wrap .gform_page_footer button.gform_button:hover, .gform_wrapper .form-wrap .gform_page_footer button.gform_next_button:active, .gform_wrapper .form-wrap .gform_page_footer button.gform_next_button:focus, .gform_wrapper .form-wrap .gform_page_footer button.gform_next_button:hover, .gform_wrapper .form-wrap .gform_page_footer input.gform_button:active, .gform_wrapper .form-wrap .gform_page_footer input.gform_button:focus, .gform_wrapper .form-wrap .gform_page_footer input.gform_button:hover, .gform_wrapper .form-wrap .gform_page_footer input.gform_next_button:active, .gform_wrapper .form-wrap .gform_page_footer input.gform_next_button:focus, .gform_wrapper .form-wrap .gform_page_footer input.gform_next_button:hover, .woocommerce-info a.button:active, .woocommerce-info a.button:focus, .woocommerce-info a.button:hover, .woocommerce-message a.button:active, .woocommerce-message a.button:focus, .woocommerce-message a.button:hover, .woocommerce.page-product .product .single_add_to_cart_button:active, .woocommerce.page-product .product .single_add_to_cart_button:focus, .woocommerce.page-product .product .single_add_to_cart_button:hover {
    color:#005d5b !important;
   
    box-shadow: 0 0 10px 4px #f0aa53 inset, 0 0 10px 4px #6bd9de !important;
   
   border-color: #446c68 !important;
   
}

